<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/public/css/style-detalle.css">
</head>
<body>
    <main>
        <header>
            <div class="nav">
                <div class="logo"><a href="#">PROVEERTEN</a></div>
                <input type="search" value="Buscar">
                <ul>
                    <div class="lista-item1">
                        <li><a href="/tienda">Tienda</a></li>
                        <li><a href="/">Inicio</a></li>
                    </div>
                    <div class="lista-item2">

                        <li>
                            <%if (nombres) { %>
                                <a href="#">
                                    <%= nombres %>
                                </a>
                                <% } %>
                        </li>
                        <li>
                            <%if (!nombres) { %>
                                <a href="/login-interfaz">Ingresar</a>
                                <% } %>
                        </li>
                        <li>
                            <%if (!nombres) { %>
                                <a href="/registro-interfaz">Registrarse</a>
                                <% } %>
                        </li>
                        <li>
                            <% if(nombres) { %>
                                <a href="/logout">Exit</a>
                                <% } %>
                        </li>

                    </div>
                </ul>
            </div>
        </header>
        <div class="detalle">
            <div class="img-articulo">
                <img src="<%= articulo[0].url %>" alt="imagen-articulo">
            </div>
            <div class="info-articulo">
                <h2><%= articulo[0].nombre %></h2>
                <p>Valor: <%= articulo[0].valor %></p>
                <p>Proveedor: <a href="#"><%= articulo[0].proveedor %></a></p>
            </div>
            <form action="/comprar/<%= articulo[0].codigo %>" method="post">
            <button class="comprar">Comprar</button>
            </form>
        </div>
            <div class="descripcion">
                <p><%= articulo[0].descripcion%></p>
            </div>
        <div class="articulos"></div>
            <footer>
                <p>PROVEERTEN &copy;</p>
            </footer>
    </main>
</body>

</html>