<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/style-index.css">
</head>
<body>
    <main>
        <header class="header">
            <div class="logo"><a href="/">LOGO</a></div>
            <a href="/tienda">Tienda</a>
            <input type="search">
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li>
                        <%if (nombres) { %>
                            <a href="#"><%= nombres %></a>
                        <% } %>
                    </li>
                    <li>
                        <%if (!nombres) { %> 
                            <a href="/registro-tendero">Register</a>
                        <% } %>
                    </li>
                    <li>
                        <%if (!nombres) { %> 
                            <a href="/login-tendero">Login</a>
                            <% } %>
                    </li>
                    <li>
                        <% if(nombres) { %>
                            <a href="/logout">Exit</a> 
                        <% } %> 
                    </li>
                </ul>
            </nav>
        </header>
        <!-- <div class="imgs">
            <img src="/public/img/img2.jpg" alt="leon">
        </div> -->
<!-- </main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="public/css/style-index2.css">
</head>

<body>
    <main>
        <header>
            <div class="nav">
                <div class="logo"><a href="#">PROVEERTEN</a></div>
                <input type="search" value="Buscar">
                <ul>
                    <div class="lista-item1">
                        <li><a href="/tienda">Tienda</a></li>
                        <li><a href="/">Inicio</a></li>
                    </div>
                    <div class="lista-item2">

                        <li>
                            <%if (nombres) { %>
                                <a href="#">
                                    <%= nombres %>
                                </a>
                                <% } %>
                        </li>
                        <li>
                            <%if (!nombres) { %>
                                <a href="/login-tendero">Ingresar</a>
                                <% } %>
                        </li>
                        <li>
                            <%if (!nombres) { %>
                                <a href="/registro-tendero">Registrarse</a>
                                <% } %>
                        </li>
                        <li>
                            <% if(nombres) { %>
                                <a href="/logout">Exit</a>
                                <% } %>
                        </li>

                    </div>
                </ul>
            </div>
        </header>
        <div class="slider">
            <p>SLIDER</p>
        </div>
        <h2>PROVEEDORES</h2>
        <div class="proveedores">
            <!-- <p>PROVEEDORES</p> -->
            <% for (let i=0 ; i < 5 ; i++) { %>
                <div class="proveedor">
                    <a href="#">
                        <img src="<%= proveedor[i].imagen %>" alt="imagen-Proveedor">
                    </a>
                    <h3><%= proveedor[i].nombre %></h3>
                </div>
                <% } %>
        </div>
        <div class="clear"></div>
        <h2>PRODUCTOS</h2>
        <div class="articulos">
            <% for (let i=0 ; i < articulo.length ; i++) { %>
                <div class="articulo">
                    <h3>
                        <%= articulo[i].nombre %>
                    </h3>
                        <img src="<%= articulo[i].url %>" alt="imagen-articulo">
                    <!-- <p>Valor: <%= articulo[i].valor %></p> -->
                    <!-- <a href="#"><%= articulo[i].proveedor %></a> -->
                    <div class="detalle">
                        <a href="/detalle-producto/<%= articulo[i].codigo %>">Ver detalle</a>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="ver-articulos"><a href="/tienda">Ver más productos</a></div>
            <div class="clear"></div>
            <footer>
                <p>PROVEERTEN &copy;</p>
            </footer>
    </main>
</body>

</html>